svg {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.loader_image {
	margin: 20px;
}

.content {
	position: relative;
	max-width: 900px;
	margin: 20px auto;
	z-index: 999;
}

.user_card {
	max-width: 900px;
	margin: 20px auto;
}

.detail {
	padding: 20px;
	height: 100vh;
	background: linear-gradient(
		60deg,
		rgba(84, 58, 183, 1) 0%,
		rgba(0, 172, 193, 1) 100%
	);
}

.detail > h1 {
	margin-bottom: 15px;
}

.k-grid-content {
	background: #666666 !important;
	color: white;
}

tbody {
	background-color: rgba(102, 102, 102, 0.199) !important;
}

.k-grid tr {
	cursor: pointer;
	transition: all 0.12s ease-in-out;
}

.k-grid tr:hover {
	color: #000;
	background-color: #fff;
}

div.k-grid-header {
	background: #666666;
	color: rgb(231, 227, 227);
	font-weight: 700;
	font-size: 17px;
}

.k-grid-toolbar {
	background: #666666 !important;
}

.k-button {
	color: #fff !important;
	margin: 10px;
	background-color: cadetblue !important;
	border-color: darkcyan !important;
}

.k-button:focus {
	box-shadow: none !important;
}

.k-button:active {
	box-shadow: 0 0 0px 2px rgba(88, 255, 191, 0.3) !important;
}
