body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgba(0, 0, 0, 0.733);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

.App {
	max-width: 900px;
	margin: 20px auto;
}

.k-grid-content {
	background: #666666 !important;
	color: white;
}

.k-grid tr:hover {
	color: #000;
}

div.k-grid-header {
	background: #666666;
	color: rgb(231, 227, 227);
	font-weight: 700;
	font-size: 17px;
}

.k-grid-toolbar {
	background: #666666 !important;
}

.k-button-solid-primary {
	background-color: cadetblue !important;
	border-color: darkcyan !important;
}

.k-button-solid-primary:focus {
	box-shadow: none !important;
}

.k-button-solid-primary:active {
	box-shadow: 0 0 0px 2px rgba(88, 255, 191, 0.3) !important;
}
